#container
{
	width: 1100px;
	border: 2px solid blue;
	margin: 0 auto;
}
#header
{
	height: 150px;
}
#brand
{
	float: left;
}
h1 a
{
	text-decoration: none;
	font-size:50px; 
	color: #861bbf;
}
#searchBox
{
	float: right;
	background: linear-gradient(#F8F594,#D5D533);
	width: 400px;
    border: 1px solid blue;
    height: 70px;
    padding: 17px 7px 0px 6px;
    margin-top: 20px;

}
.text
{
	font-size: 16px;
    float: left;
    color: orange;
    width: 200px;
    margin-top: 15px;
    font-weight: bold;
    padding: 4px;
    background:white url(search.png) right center no-repeat;
}
.submit
{
    float: right;
    font-size: 21px;
    color: white;
    background: purple;
    margin-top: 13px;
    border:1px solid #DCD5E1;
}
.clear
{
	clear: both;
}
#menu
{
	border: 1px solid green;
	height: 80px;
	background: linear-gradient(#F8F594,#D5D533);
}
ul
{
	list-style-type: none;
}
#menu ul li
{
	float: left;
	border-right: 1px solid purple;
	font-size: 23px;
	padding: 1px 20px;
	margin-top: 4px;
}
#menu ul li a
{
 text-decoration: none;
 color: purple;
 text-transform: uppercase;
 line-height: 20px;
 transition: font-size 0.3s ease;
 -webkit-transition: font-size 0.3s ease;
 -moz-transition: font-size 0.3s ease;
 -o-transition: font-size 0.3s ease;
 -ms-transition: font-size 0.3s ease;
}
#menu ul li:last-child
{
	border-right:none;
}
#menu ul li a:hover,#menu ul li a.active
{
	font-size:27px;
	font-weight: bold;
	color: black;
}
