.header
{
	margin-bottom: 10px;
	text-align: center;
}
.icons
{
	float: right;
}

.noteList
{
    margin: 15px;
    padding: 8px;
    background: #ffffcc;
    height: 80px;
    border-radius: 20px;
    font-style: italic;
    font-weight: bold;
}